
.see-all-button .container {
    text-align: center;
    padding-top: 80px;
}

.see-all-button button {
    height: 50px;
    width: 180px;
    max-width: 20%;
    box-sizing: border-box;
    border-radius: 60px 60px 60px 60px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    color: #FFF;
    font-size: 13px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    line-height: 21px;
    cursor: pointer;
}

.see-all-button button:hover {
    color: darkcyan;
    border: 1px solid darkcyan;
    background-color: #FFF;
    border: 1px solid #3E3E3E;
}